<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h2>@ViewBag.Titulo</h2>
        <div>
            <p>
                Página de Administração do Site
            </p>
        </div>
    </div>
</body>
</html>

@section cabecalho{
    <div id="cabecalho">
        <h3> Cabeçalho da área Ddministrativa do site (Index)</h3>
        <hr />
    </div>
}

@section rodape{
    <div id="linharodape">
        <hr />
    </div>
    <div id="rodape">
        Rodapé do Admin (Index)
    </div>
}
