<h2>@ViewBag.Titulo</h2>
<div>
    <p>
        Rafael Arduini ASP.NET MVC
    </p>
</div>
<p>
    @Html.ActionLink("Retornar","Index")
</p>

@section cabecalho{
    <div id="cabecalho">
        <h3> Página de Layout do site - Cabecalho (Sobre)</h3>
        <hr />
    </div>
}

@section rodape{
    <div id="linharodape">
        <hr />
    </div>
    <div id="rodape">
        Rodapé do site (Sobre)
    </div>
}

