@model double
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Raiz</title>
</head>
<body>
    <div> 
        <h2>Cálculo da raiz quadrada de um número.  (Teste)</h2> 
        <hr />
        <p>
           O valor da raíz quadrada do número @ViewBag.Numero  é  :  @Model
        </p>
    </div>
</body>
</html>
