<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RodapePadrao</title>
</head>
<body>
    <div id="linharodape">
        <hr />
    </div>
    <div id="rodape">
        Rodapé Padrão do Site - (@DateTime.Now.Date)
    </div>
</body>
</html>
