@{
    ViewBag.Title = "Home Page";
}

<div class="well">
    <h1>Rafael Arduini ASP.NET</h1>
    <p><a href="https://www.google.com" class="btn btn-primary btn-lg">Aprenda mais &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Visual Basic</h3>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>Visual C#</h3>
    </div>
    <div class="col-md-4">
        <h3>ASP.NET MVC</h3>
    </div>
</div>