@model MVC_Demo.Models.Cliente

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detalhe do Cliente</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("SalvarCliente", "Cliente"))
        {
            <br />
            <p>Código : @Html.TextBoxFor(x => x.ClienteId, new { @type = "number" })</p>
            <p>Nome : @Html.TextBoxFor(x => x.Nome)</p>
            <p>Email : @Html.TextBoxFor(x => x.Email)</p>
            <p>Telefone : @Html.TextBoxFor(x => x.Telefone)</p>
            <p>
                <input type="submit" value="Enviar" />
            </p>
        }
    </div>
</body>
</html>
