
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>Clique no link abaixo para ver detalhes do cliente</h2>
    <div>
        @*criar um link*@
        <p>
            @Html.ActionLink("Clique no link abaixo para ver detalhes do cliente", "Detalhe")
        </p>
    </div>
</body>
</html>
