@model int
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Potencia</title>
</head>
<body>
    <div>
        @ViewBag.Message - (Calculo)
    </div>
    <p>
        A potência de dois do número   @ViewBag.Numero  é igual a : @Model
    </p>
</body>
</html>
