@model string
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Saudacoes</title>
</head>
<body>
    <div>
        <h2>Pagina de Saudações (Calculo) </h2>
    </div>
    <hr />
    <p>
        <h2>Mensagem : @Model </h2>
    </p>
</body>
</html>
