
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        Parabéns <b>@ViewData["Nome"]</b>, você conseguiu concluir a <b>@ViewBag.Atividade</b> do <b>@ViewBag.Curso</b>
</body>
</html>
