<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Menu</title>
</head>
<body>
    <h2>Menu do Site</h2>
    <div id="menu">
        <ul id="itens">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Sobre", "Sobre", "Home")</li>
            <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
        </ul>
    </div>
    <div id="linhamenu">
        <hr />
    </div>
</body>
</html>
