<h2>@ViewBag.Titulo</h2>

<div>
    <p>
        Rafael Arduini - Tudo sobre ASP.NET MVC
    </p>
</div>
<p>
    @Html.ActionLink("Retornar", "Index")
</p>

@*@section rodape{
        <div id="linharodape">
            <hr />
        </div>
        <div id="rodape">
            Rodapé do site (Sobre) - (@DateTime.Now.Date)
        </div>
    }*@

@section cabecalho{
    <div id="cabecalho">
        <h3>Página de Layout do site - Cabeçalho (Sobre) </h3>
        <hr />
    </div>
}

